body{
    background-color: rgb(135, 255, 79);
}

div{
    float: left;
    padding: 0;
    margin: 0;
}

img{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px black;
}

.earth{
    border: 2px solid blue;
}

.moon{
    border: 2px solid gray;
}

.mars{
    border: 2px solid orange;
}