body{
    background-color: rgb(135, 255, 79);
}

div{
    box-shadow: 5px 5px black;
    float: left;
    padding: 0;
    margin: 0;
}

img{
    width: 200px;
    height: 200px;
}

.earth{
    border: 2px solid blue;
}

.moon{
    border: 2px solid gray;
}

.mars{
    border: 2px solid orange;
}

figcaption{
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}

