body{
    background-color: rgb(93, 255, 93);
}

.roman{
    list-style: upper-roman;
}

.none{
    list-style-type: none;
}

ol{
    border: 2px solid blue;
}

ul{
    list-style-type: square;
    border: 2px solid blue;
}

.boss{
    border: 2px solid blue;
    color: purple;
    background-color: white;
    list-style-type: none;
}

ul, ol, dt{
    width: 500px;
}
