body{
    background-color: rgb(93, 255, 93);
}

.roman{
    list-style: lower-roman;
}

.none{
    list-style-type: none;
}

ol{
    border: 2px solid blue;
}

ul{
    list-style-type: square;
    border: 2px solid blue;
}

.boss{
    color: purple;
    background-color: white;
}
