body{
    background-color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

button{
    text-align: center;
    width: 100px;
    height: 50px;
    color: blue;
    padding-top: 5px;
    background-color: grey;
}

div{  
	width: 100px;
    height: 500px;
}

button:hover{
    background-color: rgb(82, 82, 82);
}

.red{
    border-left: red ridge;
}

.yellow{
    border-left: yellow ridge;
}

.blue{
    border-left: blue ridge;
}

.green{
    border-left: green ridge;
}