body{
    background-color: darkgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

h2{
    color: red;
}

div{
    border-radius: 15px;
    text-align: center;
    border-color: white;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.b:focus{
    background-color: darkblue;
}

.c:hover{
    color: blue;
}