body{
    background-color: rgb(255, 220, 155);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.b{
    width: 150px;
    height: 310px;
    float: left;
    background-color: rgb(255, 193, 77);
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px black;

}

h2{
    text-align: center;
}

.a{
    width: 140px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid grey;
    margin: 2px;
    text-align: center;
}

a{
    color: grey;
    text-decoration: none;
}

.a:hover{
    background-color: black;
}

a:hover{
    color: orange;
}
