*{
    background-color: #EBF7E3;
}
.a{
    background-color: #9BD770;
    margin: 40px;
}
.b{
    background-color: #66B032;
    margin: 20px;
    padding: 20px;
}
.c{
    background-color: #375F1B;
    margin: 30px;
    padding: 30px;
    border: 7px solid #22AABB;
}

.b, .a, .c{
    height: 100px;
    width: 200px;
}