@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pixelify+Sans&family=Poppins:wght@300&display=swap');

.a{
    font-family: 'Pixelify Sans', cursive;
}

.b{
    font-family: 'Poppins', sans-serif;
}

.c{
    font-family: 'Dancing Script', cursive;
}

body{
    background-color: #DEE9FC;
}

span{
    font-weight: bold;
}

div{
    width: 300px;
    height: auto;
    font-size: larger;
    background-color: #6395F2;
    background-image: linear-gradient(#DEE9FC, #6395F2);
    box-shadow: 5px 5px black;
    padding: 10px;
    margin: 25px;
}

.d{
    color: green;
    text-shadow: 1px 1px 2px black, 0 0 7 px darkblue;
}

.e{
    text-shadow: 4px 4px 4px #666666;
}

.f{
    color: coral; 
    text-shadow: 0 0 10px #00ff00;
}